<h2>Liste des voitures</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th>marque</th>
            <th>couleur</th>
            <th>puissance</th>
            <th>année</th>
            <th>kilometrage</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let voiture of voitures">
            <td>{{voiture.marque}}</td>
            <td>{{voiture.couleur}}</td>
            <td>{{voiture.puissance}} CV</td>
            <td>{{voiture.annee}}</td>
            <td>{{voiture.kilometrage}} KM</td>
            <td>
                <button (click)="updateVoiture(voiture.id)" class="btn btn-info">modifier</button>
            </td>
            <td>
                <button (click)="deleteVoiture(voiture.id)" class="btn btn-danger">supprimer</button>
            </td>
        </tr>
    </tbody>
</table>
